# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dllx
*.so
*.so.*
*.dylib

OBJ
DLL

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
TemplatePlugin/bin/Release/HttpServer.dll
TemplatePlugin/bin/Release/Mono.Data.Sqlite.dll
TemplatePlugin/bin/Release/Newtonsoft.Json.dll
TemplatePlugin/bin/Release/TShockAPI.dll
TemplatePlugin/bin/Release/MySql.Data.dll
TemplatePlugin/bin/Release/ExtraAdminRESTAPI.pdb
